# The goal of this project is to extact data from an API and store it in AWS RDS and AWS S3

# Import libraries

In [2]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.7/43.7 kB 2.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [3]:
pip install boto3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting boto3
  Downloading boto3-1.26.111-py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.6/135.6 kB 4.4 MB/s eta 0:00:00
Collecting botocore<1.30.0,>=1.29.111
  Downloading botocore-1.29.111-py3-none-any.whl (10.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.6/10.6 MB 57.8 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.6/79.6 kB 10.0 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.111->boto3) (1.26.15)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.9/dist-packages (from botocore<1.30.0,>=1.29.111->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.111->boto3) (1.16.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.111 botocore-1.29.111 jmespath-1.0.1 s3transfer-0.6.0

In [37]:
import json
import pandas as pd
import pymysql
import datetime
import boto3
import socket

from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects

# Check my IP

In [9]:
hostname = socket.gethostname()
IPAddr = socket.gethostbyname(hostname)
print("Your Computer Name is:"+hostname)
print("Your Computer IP Address is:"+IPAddr)

Your Computer Name is:35d446476562
Your Computer IP Address is:172.28.0.12

# Extarct data from API

## Extarct all data from API in json format

In [5]:
# Documentation: https://coinmarketcap.com/api/documentation/v1/#operation/getV1CryptocurrencyMap

url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
api_key = '83f659b5-cb23-45e9-87f2-733a317f404d'

parameters = {
  'start':'1',
  'limit':'5000',
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': api_key,
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  print(data)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

## Show data

In [ ]:
data['data'][0:2]

[{'id': 1,
  'name': 'Bitcoin',
  'symbol': 'BTC',
  'slug': 'bitcoin',
  'num_market_pairs': 9982,
  'date_added': '2013-04-28T00:00:00.000Z',
  'tags': ['mineable',
   'pow',
   'sha-256',
   'store-of-value',
   'state-channel',
   'coinbase-ventures-portfolio',
   'three-arrows-capital-portfolio',
   'polychain-capital-portfolio',
   'binance-labs-portfolio',
   'blockchain-capital-portfolio',
   'boostvc-portfolio',
   'cms-holdings-portfolio',
   'dcg-portfolio',
   'dragonfly-capital-portfolio',
   'electric-capital-portfolio',
   'fabric-ventures-portfolio',
   'framework-ventures-portfolio',
   'galaxy-digital-portfolio',
   'huobi-capital-portfolio',
   'alameda-research-portfolio',
   'a16z-portfolio',
   '1confirmation-portfolio',
   'winklevoss-capital-portfolio',
   'usv-portfolio',
   'placeholder-ventures-portfolio',
   'pantera-capital-portfolio',
   'multicoin-capital-portfolio',
   'paradigm-portfolio'],
  'max_supply': 21000000,
  'circulating_supply': 19290731,
  'total_supply': 19290731,
  'platform': None,
  'cmc_rank': 1,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'tvl_ratio': None,
  'last_updated': '2023-02-14T14:30:00.000Z',
  'quote': {'USD': {'price': 21658.804259455705,
    'volume_24h': 22848303494.834103,
    'volume_change_24h': 1.2148,
    'percent_change_1h': -0.936885,
    'percent_change_24h': 0.26682483,
    'percent_change_7d': -5.83116829,
    'percent_change_30d': 4.50826554,
    'percent_change_60d': 27.24384463,
    'percent_change_90d': 31.09833945,
    'market_cap': 417814166750.8142,
    'market_cap_dominance': 41.5805,
    'fully_diluted_market_cap': 454834889448.57,
    'tvl': None,
    'last_updated': '2023-02-14T14:30:00.000Z'}}},
 {'id': 1027,
  'name': 'Ethereum',
  'symbol': 'ETH',
  'slug': 'ethereum',
  'num_market_pairs': 6460,
  'date_added': '2015-08-07T00:00:00.000Z',
  'tags': ['pos',
   'smart-contracts',
   'ethereum-ecosystem',
   'coinbase-ventures-portfolio',
   'three-arrows-capital-portfolio',
   'polychain-capital-portfolio',
   'binance-labs-portfolio',
   'blockchain-capital-portfolio',
   'boostvc-portfolio',
   'cms-holdings-portfolio',
   'dcg-portfolio',
   'dragonfly-capital-portfolio',
   'electric-capital-portfolio',
   'fabric-ventures-portfolio',
   'framework-ventures-portfolio',
   'hashkey-capital-portfolio',
   'kenetic-capital-portfolio',
   'huobi-capital-portfolio',
   'alameda-research-portfolio',
   'a16z-portfolio',
   '1confirmation-portfolio',
   'winklevoss-capital-portfolio',
   'usv-portfolio',
   'placeholder-ventures-portfolio',
   'pantera-capital-portfolio',
   'multicoin-capital-portfolio',
   'paradigm-portfolio',
   'injective-ecosystem'],
  'max_supply': None,
  'circulating_supply': 122373866.2178,
  'total_supply': 122373866.2178,
  'platform': None,
  'cmc_rank': 2,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'tvl_ratio': None,
  'last_updated': '2023-02-14T14:30:00.000Z',
  'quote': {'USD': {'price': 1505.0390731584112,
    'volume_24h': 7954504277.375517,
    'volume_change_24h': -9.0958,
    'percent_change_1h': -0.7357029,
    'percent_change_24h': 1.58416421,
    'percent_change_7d': -8.21871775,
    'percent_change_30d': -1.84288559,
    'percent_change_60d': 24.11535828,
    'percent_change_90d': 24.39335878,
    'market_cap': 184177450191.2491,
    'market_cap_dominance': 18.3292,
    'fully_diluted_market_cap': 184177450191.25,
    'tvl': None,
    'last_updated': '2023-02-14T14:30:00.000Z'}}}]

## Create dataframe to store all data

In [ ]:
# Create dataframe to store all data

columns = ['id', 'name', 'symbol', 'last_updated', 'circulating_supply',
          'total_supply', 'max_supply', 'price', 'volume_24h', 'percent_change_1h', 'percent_change_7d']

df = pd.DataFrame(columns = columns)

# Fill in df

for coin in data['data']:
    id = coin['id']
    name = coin['name']
    symbol = coin['symbol']
    last_updated = coin['last_updated']
    circulating_supply = coin['circulating_supply']
    total_supply = coin['total_supply']
    max_supply = coin['max_supply']
    price = coin['quote']['USD']['price']
    volume_24h = coin['quote']['USD']['volume_24h']
    percent_change_1h = coin['quote']['USD']['percent_change_1h']
    percent_change_24h = coin['quote']['USD']['percent_change_24h']
    percent_change_7d = coin['quote']['USD']['percent_change_7d']

    data_dict = {'id': id, 
                'name': name, 
                'symbol': symbol,
                'last_updated': last_updated,
                'circulating_supply': circulating_supply,
                'total_supply': total_supply,
                'max_supply': max_supply,
                'price': price,
                'volume_24h': volume_24h,
                'percent_change_1h': percent_change_1h,
                'percent_change_7d': percent_change_7d}

    df = df.append(data_dict, ignore_index = True)

## Show df

In [20]:
df.head()

,id,name,symbol,last_updated,circulating_supply,total_supply,max_supply,price,volume_24h,percent_change_1h,percent_change_7d
0,1,Bitcoin,BTC,2023-04-12T16:34:00.000Z,19344375,19344375,21000000,30019.272203,2.036652e+10,0.260634,7.423866
1,1027,Ethereum,ETH,2023-04-12T16:34:00.000Z,120457776,120457776,None,1914.783902,1.112510e+10,-0.260380,1.021870
2,825,Tether,USDT,2023-04-12T16:34:00.000Z,80459616647.028854,83091735571.855286,None,1.000747,3.271673e+10,0.033576,0.051182
3,1839,BNB,BNB,2023-04-12T16:34:00.000Z,157885969.206374,157885969.206374,None,319.798649,7.125146e+08,0.010575,2.668748
4,3408,USD Coin,USDC,2023-04-12T16:34:00.000Z,32368379076.816517,32368379076.816517,None,1.000003,4.485827e+09,0.041798,0.013382

In [ ]:
df.columns

Index(['id', 'name', 'symbol', 'last_updated', 'circulating_supply',
       'total_supply', 'max_supply', 'price', 'volume_24h',
       'percent_change_1h', 'percent_change_7d'],
      dtype='object')

## Check data quality of df

In [21]:
def check_if_valid_data(df: pd.DataFrame) -> bool:
  '''
    1) Definition: Function used to check data quality of df
    
    2) Input:
            df: dataframe whose columns we'll check (type = pd.Dataframe)

    3) Return: 
            True = Data Quality approved
            False = Data Quality reproved
    '''
    
  # Check if dataframe is empty

  if df.empty:
      print("\nDataframe empty. Finishing execution")
      return False 

  # Check for nulls in symbol column

  if df.symbol.empty:
      raise Exception("\nSymbol is Null or the value is empty")

    # Check for nulls in price column

  if df.price.empty:
      raise Exception("\nPrice is Null or the value is empty")

  # Check for nulls in data_added column

  if df.empty:
      raise Exception("\nData is Null or the value is empty")

  return True

In [22]:
check_if_valid_data(df)

True

# Load data from dataframe to AWS RDS

## Create connection to AWS database

In [27]:
# Create connection to AWS database

host = 'rds-database.csyqer7pwgvm.us-east-1.rds.amazonaws.com'
port = 3306
user = 'admin_rds'
password = 'teste123'

connection = pymysql.connect(host = host,
                             port = port,
                             user = user,
                             passwd = password)
 
cursor = connection.cursor()

## Create data base

In [28]:
# Create data base
# In AWS, we create an AWS RDS data base instance

query = '''create database crypto_data_base'''
cursor.execute(query)
cursor.connection.commit()

# Connect to data base

query = '''use crypto_data_base'''
cursor.execute(query)

0

## Show existing databases

In [29]:
# Show existing databases

query = '''show databases'''
cursor.execute(query)
cursor.fetchall()

(('crypto_data_base',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',))

## Create table

In [30]:
# Connect to data base

query = '''use crypto_data_base'''
cursor.execute(query)

# Create table

query = '''create table crypto_table (
              id int, 
              name varchar(50), 
              symbol varchar(50), 
              last_updated date,
              circulating_supply float, 
              total_supply float, 
              max_supply float, 
              price float,
              volume_24h float, 
              percent_change_1h float, 
              percent_change_7d float 
              )
              '''

cursor.execute(query)

0

## Show existing tables

In [31]:
# Show existing tables

query = '''show tables'''
cursor.execute(query)
cursor.fetchall()

(('crypto_table',),)

## check data types from crypto_table

In [17]:
# check data types from crypto_table

query = query = '''SHOW FIELDS FROM crypto_table FROM crypto_data_base'''

cursor.execute(query)
cursor.fetchall()

(('id', 'int', 'YES', '', None, ''),
 ('name', 'varchar(50)', 'YES', '', None, ''),
 ('symbol', 'varchar(50)', 'YES', '', None, ''),
 ('last_updated', 'date', 'YES', '', None, ''),
 ('circulating_supply', 'float', 'YES', '', None, ''),
 ('total_supply', 'float', 'YES', '', None, ''),
 ('max_supply', 'float', 'YES', '', None, ''),
 ('price', 'float', 'YES', '', None, ''),
 ('volume_24h', 'float', 'YES', '', None, ''),
 ('percent_change_1h', 'float', 'YES', '', None, ''),
 ('percent_change_7d', 'float', 'YES', '', None, ''))

## Insert data from df

In [32]:
# Insert data from df

for index, row in df.head(100).iterrows():
    print(f'\nindex = {index} / {len(df)}')

    query = '''INSERT INTO crypto_table

               (id, name, symbol, last_updated, circulating_supply, total_supply, 
                max_supply, price, volume_24h, percent_change_1h, percent_change_7d) 

               values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

    id = int(row['id']) if row['id'] is not None else None
    name = str(row['name']) if row['name'] is not None else None 
    symbol = str(row['symbol']) if row['symbol'] is not None else None
    last_updated = row['last_updated'][0:10]
    last_updated = datetime.datetime.strptime(last_updated, '%Y-%m-%d') if row['last_updated'] is not None else None
    circulating_supply = float(row['circulating_supply']) if row['circulating_supply'] is not None else None 
    total_supply = float(row['total_supply']) if row['total_supply'] is not None else None
    max_supply = float(row['max_supply']) if row['max_supply'] is not None else None 
    price = float(row['price']) if row['price'] is not None else None 
    volume_24h = float(row['volume_24h']) if row['volume_24h'] is not None else None
    percent_change_1h = float(row['percent_change_1h']) if row['percent_change_1h'] is not None else None
    percent_change_7d = float(row['percent_change_7d']) if row['percent_change_7d'] is not None else None
  
    values = id, name, symbol, last_updated, circulating_supply, total_supply, \
             max_supply, price, volume_24h, percent_change_1h, percent_change_7d 

    cursor.execute(query, values)

connection.commit()

index = 0 / 5000

index = 1 / 5000

index = 2 / 5000

index = 3 / 5000

index = 4 / 5000

index = 5 / 5000

index = 6 / 5000

index = 7 / 5000

index = 8 / 5000

index = 9 / 5000

index = 10 / 5000

index = 11 / 5000

index = 12 / 5000

index = 13 / 5000

index = 14 / 5000

index = 15 / 5000

index = 16 / 5000

index = 17 / 5000

index = 18 / 5000

index = 19 / 5000

index = 20 / 5000

index = 21 / 5000

index = 22 / 5000

index = 23 / 5000

index = 24 / 5000

index = 25 / 5000

index = 26 / 5000

index = 27 / 5000

index = 28 / 5000

index = 29 / 5000

index = 30 / 5000

index = 31 / 5000

index = 32 / 5000

index = 33 / 5000

index = 34 / 5000

index = 35 / 5000

index = 36 / 5000

index = 37 / 5000

index = 38 / 5000

index = 39 / 5000

index = 40 / 5000

index = 41 / 5000

index = 42 / 5000

index = 43 / 5000

index = 44 / 5000

index = 45 / 5000

index = 46 / 5000

index = 47 / 5000

index = 48 / 5000

index = 49 / 5000

index = 50 / 5000

index = 51 / 5000

index = 52 / 5000

index = 53 / 5000

index = 54 / 5000

index = 55 / 5000

index = 56 / 5000

index = 57 / 5000

index = 58 / 5000

index = 59 / 5000

index = 60 / 5000

index = 61 / 5000

index = 62 / 5000

index = 63 / 5000

index = 64 / 5000

index = 65 / 5000

index = 66 / 5000

index = 67 / 5000

index = 68 / 5000

index = 69 / 5000

index = 70 / 5000

index = 71 / 5000

index = 72 / 5000

index = 73 / 5000

index = 74 / 5000

index = 75 / 5000

index = 76 / 5000

index = 77 / 5000

index = 78 / 5000

index = 79 / 5000

index = 80 / 5000

index = 81 / 5000

index = 82 / 5000

index = 83 / 5000

index = 84 / 5000

index = 85 / 5000

index = 86 / 5000

index = 87 / 5000

index = 88 / 5000

index = 89 / 5000

index = 90 / 5000

index = 91 / 5000

index = 92 / 5000

index = 93 / 5000

index = 94 / 5000

index = 95 / 5000

index = 96 / 5000

index = 97 / 5000

index = 98 / 5000

index = 99 / 5000

## Show data in AWS RDS

In [33]:
# Select all data from AWS RDS

query = '''select * from crypto_table'''
cursor.execute(query)
results = cursor.fetchall()
  
# Printing all records or rows from the table.
# It returns a result set. 

for all in results[0:10]:
  print(all)

(1, 'Bitcoin', 'BTC', datetime.date(2023, 4, 12), 19344400.0, 19344400.0, 21000000.0, 30019.3, 20366500000.0, 0.260634, 7.42387)
(1027, 'Ethereum', 'ETH', datetime.date(2023, 4, 12), 120458000.0, 120458000.0, None, 1914.78, 11125100000.0, -0.26038, 1.02187)
(825, 'Tether', 'USDT', datetime.date(2023, 4, 12), 80459600000.0, 83091700000.0, None, 1.00075, 32716700000.0, 0.0335757, 0.0511816)
(1839, 'BNB', 'BNB', datetime.date(2023, 4, 12), 157886000.0, 157886000.0, None, 319.799, 712515000.0, 0.0105746, 2.66875)
(3408, 'USD Coin', 'USDC', datetime.date(2023, 4, 12), 32368400000.0, 32368400000.0, None, 1.0, 4485830000.0, 0.0417981, 0.0133823)
(52, 'XRP', 'XRP', datetime.date(2023, 4, 12), 51688500000.0, 99989000000.0, 100000000000.0, 0.502806, 1213460000.0, -0.0688118, 0.548317)
(2010, 'Cardano', 'ADA', datetime.date(2023, 4, 12), 34766000000.0, 35677700000.0, 45000000000.0, 0.402944, 390157000.0, 0.1256, 3.08481)
(74, 'Dogecoin', 'DOGE', datetime.date(2023, 4, 12), 138910000000.0, 138910000000.0, None, 0.0823867, 595950000.0, 0.0656358, -12.1891)
(3890, 'Polygon', 'MATIC', datetime.date(2023, 4, 12), 9219470000.0, 10000000000.0, 10000000000.0, 1.10793, 292096000.0, -0.114059, -1.8296)
(5426, 'Solana', 'SOL', datetime.date(2023, 4, 12), 391643000.0, 539313000.0, None, 23.7069, 1316940000.0, 0.601711, 14.3894)

## Delete data from AWS RDS

In [ ]:
# Delete all data from AWS RDS

query = '''delete from crypto_table'''
cursor.execute(query)
results = cursor.fetchall()

# Select all data from AWS RDS

query = '''select * from crypto_table'''
cursor.execute(query)
results = cursor.fetchall()
  
# Printing all records or rows from the table.
# It returns a result set. 

for all in results:
  print(all)

## Delete table created in AWS RDS

In [ ]:
# Delete all data from AWS RDS

query = '''drop table crypto_table'''
cursor.execute(query)
results = cursor.fetchall()

# Show tables

query = '''show tables'''
cursor.execute(query)
cursor.fetchall()

()

# Load data from json file to AWS S3

## Create connection to AWS S3

In [39]:
# Create connection to AWS S3

aws_access_key_id = 'AKIA5YS4MJKHWFO57MGV'
aws_secret_access_key = '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'

s3 = boto3.client('s3', 
                    aws_access_key_id = aws_access_key_id,
                    aws_secret_access_key = aws_secret_access_key)

## Upload data to AWS S3

In [55]:
# AWS S3 credentials

bucket_name = 'bucketpontello'
file_name = 'raw/data.json'

# Convert the list of dictionaries to a JSON string

json_data = json.dumps(data['data'])

# Upload the file to S3

s3.put_object(Bucket = bucket_name, 
              Key = file_name, 
              Body = json_data)

{'ResponseMetadata': {'RequestId': 'YG9S3877X12SVKX6',
  'HostId': '4kfsrirmc2nz8Uz7LAW7udEbi3aTn98Trn/ZeRv4c3BC2Q+uRUh8uf8IsByyYkxAQADq0JSRW+I=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '4kfsrirmc2nz8Uz7LAW7udEbi3aTn98Trn/ZeRv4c3BC2Q+uRUh8uf8IsByyYkxAQADq0JSRW+I=',
   'x-amz-request-id': 'YG9S3877X12SVKX6',
   'date': 'Wed, 12 Apr 2023 20:01:06 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"0340beb606b78e32169e7af319220ab9"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"0340beb606b78e32169e7af319220ab9"',
 'ServerSideEncryption': 'AES256'}

## Download data from AWS S3

In [58]:
# AWS S3 credentials

bucket_name = 'bucketpontello'
file_name = 'raw/data.json'

# Upload the file to S3

response = s3.get_object(Bucket = bucket_name, 
                         Key = file_name)

# Read the file contents as a string

file_contents = response['Body'].read().decode('utf-8')

# Parse the JSON string into a list of dictionaries

my_list_of_dicts = json.loads(file_contents)

In [62]:
my_list_of_dicts[0:3]

[{'id': 1,
  'name': 'Bitcoin',
  'symbol': 'BTC',
  'slug': 'bitcoin',
  'num_market_pairs': 10157,
  'date_added': '2010-07-13T00:00:00.000Z',
  'tags': ['mineable',
   'pow',
   'sha-256',
   'store-of-value',
   'state-channel',
   'coinbase-ventures-portfolio',
   'three-arrows-capital-portfolio',
   'polychain-capital-portfolio',
   'binance-labs-portfolio',
   'blockchain-capital-portfolio',
   'boostvc-portfolio',
   'cms-holdings-portfolio',
   'dcg-portfolio',
   'dragonfly-capital-portfolio',
   'electric-capital-portfolio',
   'fabric-ventures-portfolio',
   'framework-ventures-portfolio',
   'galaxy-digital-portfolio',
   'huobi-capital-portfolio',
   'alameda-research-portfolio',
   'a16z-portfolio',
   '1confirmation-portfolio',
   'winklevoss-capital-portfolio',
   'usv-portfolio',
   'placeholder-ventures-portfolio',
   'pantera-capital-portfolio',
   'multicoin-capital-portfolio',
   'paradigm-portfolio',
   'btc-ecosystem'],
  'max_supply': 21000000,
  'circulating_supply': 19344375,
  'total_supply': 19344375,
  'infinite_supply': False,
  'platform': None,
  'cmc_rank': 1,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'tvl_ratio': None,
  'last_updated': '2023-04-12T16:34:00.000Z',
  'quote': {'USD': {'price': 30019.272203311175,
    'volume_24h': 20366524720.43174,
    'volume_change_24h': -17.0011,
    'percent_change_1h': 0.26063396,
    'percent_change_24h': -0.75149683,
    'percent_change_7d': 7.42386599,
    'percent_change_30d': 25.44177239,
    'percent_change_60d': 38.14811478,
    'percent_change_90d': 65.59288034,
    'market_cap': 580704058727.9276,
    'market_cap_dominance': 47.211,
    'fully_diluted_market_cap': 630404716269.53,
    'tvl': None,
    'last_updated': '2023-04-12T16:34:00.000Z'}}},
 {'id': 1027,
  'name': 'Ethereum',
  'symbol': 'ETH',
  'slug': 'ethereum',
  'num_market_pairs': 6719,
  'date_added': '2015-08-07T00:00:00.000Z',
  'tags': ['pos',
   'smart-contracts',
   'ethereum-ecosystem',
   'coinbase-ventures-portfolio',
   'three-arrows-capital-portfolio',
   'polychain-capital-portfolio',
   'binance-labs-portfolio',
   'blockchain-capital-portfolio',
   'boostvc-portfolio',
   'cms-holdings-portfolio',
   'dcg-portfolio',
   'dragonfly-capital-portfolio',
   'electric-capital-portfolio',
   'fabric-ventures-portfolio',
   'framework-ventures-portfolio',
   'hashkey-capital-portfolio',
   'kenetic-capital-portfolio',
   'huobi-capital-portfolio',
   'alameda-research-portfolio',
   'a16z-portfolio',
   '1confirmation-portfolio',
   'winklevoss-capital-portfolio',
   'usv-portfolio',
   'placeholder-ventures-portfolio',
   'pantera-capital-portfolio',
   'multicoin-capital-portfolio',
   'paradigm-portfolio',
   'injective-ecosystem',
   'layer-1'],
  'max_supply': None,
  'circulating_supply': 120457776,
  'total_supply': 120457776,
  'infinite_supply': False,
  'platform': None,
  'cmc_rank': 2,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'tvl_ratio': None,
  'last_updated': '2023-04-12T16:34:00.000Z',
  'quote': {'USD': {'price': 1914.7839019844841,
    'volume_24h': 11125103386.484303,
    'volume_change_24h': 8.9136,
    'percent_change_1h': -0.26037989,
    'percent_change_24h': 0.24358631,
    'percent_change_7d': 1.02187032,
    'percent_change_30d': 15.48175472,
    'percent_change_60d': 25.87954678,
    'percent_change_90d': 38.04016345,
    'market_cap': 230650610353.65295,
    'market_cap_dominance': 18.7518,
    'fully_diluted_market_cap': 230650610353.65,
    'tvl': None,
    'last_updated': '2023-04-12T16:34:00.000Z'}}},
 {'id': 825,
  'name': 'Tether',
  'symbol': 'USDT',
  'slug': 'tether',
  'num_market_pairs': 51121,
  'date_added': '2015-02-25T00:00:00.000Z',
  'tags': ['payments',
   'stablecoin',
   'asset-backed-stablecoin',
   'avalanche-ecosystem',
   'solana-ecosystem',
   'arbitrum-ecosytem',
   'moonriver-ecosystem',
   'injective-ecosystem',
   'bnb-chain',
   'usd-stablecoin',
   'optimism-ecosystem'],
  'max_supply': None,
  'circulating_supply': 80459616647.02885,
  'total_supply': 83091735571.85529,
  'platform': {'id': 1027,
   'name': 'Ethereum',
   'symbol': 'ETH',
   'slug': 'ethereum',
   'token_address': '0xdac17f958d2ee523a2206206994597c13d831ec7'},
  'infinite_supply': False,
  'cmc_rank': 3,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'tvl_ratio': None,
  'last_updated': '2023-04-12T16:34:00.000Z',
  'quote': {'USD': {'price': 1.000747043526976,
    'volume_24h': 32716731325.94446,
    'volume_change_24h': -8.0311,
    'percent_change_1h': 0.03357566,
    'percent_change_24h': 0.00768471,
    'percent_change_7d': 0.05118164,
    'percent_change_30d': -0.40202995,
    'percent_change_60d': 0.05361167,
    'percent_change_90d': 0.07050793,
    'market_cap': 80519723482.82799,
    'market_cap_dominance': 6.5462,
    'fully_diluted_market_cap': 83153808715.06,
    'tvl': None,
    'last_updated': '2023-04-12T16:34:00.000Z'}}}]